{
	"semi": true,
	"singleQuote": true,
	"printWidth": 120,
	"useTabs": true,
	"trailingComma": "none",
	"tslintIntegration": false,
	"endOfLine": "auto",
	"bracketSpacing": true,
	"arrowParens": "avoid",
	"eslintIntegration": true
}